masterip="192.168.1.133"
# 指定所用的24位网段
ip_segment="192.168.1"
#NTP用
cluster_network="192.168.1.0/24"

keepalived_vip="192.168.1.179"
# keepalived 监听的哪块网卡
interface="ens160"
# mysql连接端口
outport="3306"
root_passwd="root123"
# 容器网络子码
subnet="10.10.1.0/24"
# mysql容器映射宿主机的根目录
database_path="/opt/huron"
# 数据库字符集
character="utf8mb4"
collation="utf8mb4_unicode_ci"
# mysqlroot密码
mysql_root_password="root"
# 可以初始化一个数据库，如果没有请删除引号内的内容
new_database="new_database"
# 初始化一个除了管理员之外的账号，如果没有请删除引号内的内容
new_user="new_user"
mysql_password="new_user_passwd"

hostname="mysql"
hostip=(
192.168.1.133
192.168.1.153
)
